@page
@model IndexModel

<body id="page-top" style="background: url(&quot;img/background.png&quot;), rgb(21,21,21);background-size: cover, auto;">

    <div class="container-fluid text-center" style="height: 100%;padding-top: 20%;">
        <h1 class="mb-1 title">BlindTest.io</h1>
        <h3 class="mb-5 subtitle">powered by 4lex &amp; Nana</h3>

        <div class="row">
            <div class="col"></div>

            <div class="col col-md-2 text-light">
                <label>Ton petit nom:</label>
                <input id="nicknameInput" class="form-control" type="text" />
            </div>

            <div class="col"></div>
        </div>

        <button class="playButton" id="playButton" role="button"><div class="playButtonTxt">Jouer</div></button>
    </div>

    <script src="~/js/index.js"></script>

</body>
